@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Settings";

    var currentPage = (ViewContext.RouteData.Values["page"] as string) ?? "";
    var pageName = System.IO.Path.GetFileName(currentPage);
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<ul class="nav nav-pills flex-column">
    <li>

        @if(pageName != "ChangePassword")
        {
            <form asp-controller="Data" asp-action="CreateSheet" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-dark w-100 mt-2">Export My Applications (.xlsx format) </button>
            </form>
            <br />
            <a class="btn btn-dark w-100" asp-page="./ChangePassword">Change Password</a>
        }

    </li>
</ul>
