@model List<ApplicationTrackerOnline.Models.ApplicationDateDTO>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <partial name="_UpcomingAssessCard" model="item" />
    }
}
else
{
    <p>No upcoming dates..</p>
}