@model List<ApplicationTrackerOnline.Models.ApplicationDateDTO>
@{
    var orderedList = Model.OrderBy(x => x.Date);
}
@if (Model != null && Model.Any())
{
    foreach (var item in orderedList)
    {
        <partial name="_UpcomingAssessCard" model="item" />
    }
}
else
{
    <p>No upcoming dates..</p>
}