@model ApplicationTrackerOnline.Models.PotentialJob;

<div class="job-card status-scouted">
    <p>@Model.ToString()</p>

    <button>Visit Listing</button>

    <button>Add To Applications</button>
</div>