@model List<ApplicationTrackerOnline.Models.JobApplication>
@{
    ViewData["Title"] = "Your Applications";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    @foreach (var app in Model)
    {
        @await Html.PartialAsync("_JobApplicationCard", app)
    }
</div>
